body {
  margin: 0;
}

.app-body {
  height: calc(100vh - 101px);
  padding: 10px;
}

.header-menu {
  padding: 15px;
  font-size: 18px;
  background-color: #eee;
  max-height: 50px;
  text-align: right;

  .menu-item {
    text-decoration: none;
    color: orangered;
    padding: 0 10px;

    &:hover {
      color: blue;
    }
  }
}

.footer {
  padding: 10px;
  background-color: #e0e0e0;
  min-height: 10px;
  max-height: 50px;
  text-align: center;
}

.has-error {
  color: red;
  input {
    border-color: red;
  }
}
