<div class="header-menu">
  <a href="#" ui-sref="app.home" class="menu-item" ui-sref-active="active">Home</a>
  <a href="#" ui-sref="app.about" class="menu-item" ui-sref-active="active">About</a>
</div>
