<h3>
  About Us Page
</h3>

<form class="" name="VTestForm" ng-submit="AboutCtrl.submitFn(AboutCtrl.user)" novalidate="true">
  <div class="form-group" ng-class="{ 'has-error' : VTestForm.firstName.$touched && (VTestForm.firstName.$invalid && !VTestForm.firstName.$pristine)}">
    <label for="" class="control-label select-label require-field">First Name</label>
    <input type="text" name="firstName" ng-model="AboutCtrl.user.firstName" required>
    <p ng-show="VTestForm.firstName.$touched && (VTestForm.firstName.$invalid && !VTestForm.firstName.$pristine)" class="help-block">first name is required.</p>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : VTestForm.lastName.$touched && (VTestForm.lastName.$invalid && !VTestForm.lastName.$pristine)}">
    <label for="" class="control-label select-label require-field">Last Name</label>
    <input type="text" name="lastName" ng-model="AboutCtrl.user.lastName" required>
    <p ng-show="VTestForm.lastName.$touched && (VTestForm.lastName.$invalid && !VTestForm.lastName.$pristine)" class="help-block">last name is required.</p>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" name="button" ng-disabled="VTestForm.$invalid">Submit</button>
  </div>

  <div class="" ng-if="AboutCtrl.userDetail">
    <div class="">
      <h4>User Detail</h4>
      <p>{{AboutCtrl.userDetail}}</p>
    </div>
  </div>
</form>
