<md-dialog aria-label="Book Creation wizard">
  <form name="creationForm" ng-cloak>

    <spinner-directive ng-if="CFBCtrl.isAPICall"></spinner-directive>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Book Creation Wizard</h2>
        <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" ng-click="CFBCtrl.cancel()">
            <md-icon md-menu-origin md-svg-src="../assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
          <md-menu-content width="2"></md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>


    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="column">
          <md-input-container flex="100">
            <label>Title</label>
            <input required name="title" ng-model="CFBCtrl.bookObject.title">
            <div ng-messages="creationForm.title.$error">
              <div ng-message="required">title is required.</div>
            </div>
          </md-input-container>
        </div>


        <div layout="column">
          <md-input-container flex="100">
            <label>Description</label>
            <textarea required name="description" ng-model="CFBCtrl.bookObject.description" md-maxlength="400" rows="5" md-select-on-focus></textarea>
            <div ng-messages="creationForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">Description Too Long.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="column">
          <md-input-container flex="100">
            <input id="fileInput" name="file" type="file" class="ng-hide" accept=".pdf" resource-upload="true" upload-file="CFBCtrl.imageUpload({files: files})" required>
            <md-button id="uploadButton" class="md-raised md-default" ng-click="CFBCtrl.openFileUpload()">
              <md-icon md-svg-src="../assets/images/upload.svg" aria-label="upload content"></md-icon>
              Choose File
            </md-button>
            <!-- <div ng-messages="creationForm.description.$error">
              <div ng-message="required">This is required.</div>
            </div> -->
          </md-input-container>
          <img ng-src="{{CFBCtrl.bookObject.pdfObject.thumb}}" ng-if="CFBCtrl.bookObject.pdfObject.thumb">
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="CFBCtrl.cancel()">
        Cancel
      </md-button>
      <md-button ng-click="CFBCtrl.create('useful')" class="md-primary" ng-disabled="creationForm.$invalid">
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
